html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Helvetica, Arial, sans-serif;
}
header {
  padding: 10px 20px;
  height: 60px;
  background-color: #7e737a;
  z-index: 1;
  position: relative;
}
main {
  position: absolute;
  top: 80px;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #fff;
}
video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}
.mask {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(50, 34, 48, 0.62);
}
.hero-text {
  z-index: 1;
  padding: 0 20px;
}
h1 {
  font-size: 42px;
  font-weight: 400;
}
h2 {
  font-size: 30px;
  font-weight: 400;
}
